{% extends 'index.html' %}
{% block content %}
        <!-- Confirmt Section-->
        <section id="confirm">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-12 confirm-tagline my-auto">
                        <!-- Bagian Tagline -->
                        <h1>CONFIRM ORDER</h1>
                        <p>Konfirmasi Order ketika customer sudah membayar!</p>

                        <!-- Bagian Utama -->
                        <form id="form" method="POST">
                            {{form.hidden_tag()}}
                            <!-- Bagian Output Biaya Pengiriman -->
                            <div class="table-confirm">
                                <!-- Bagian Judul -->
                                <div class="col-md-3 text-center confirm-border">
                                    <div class="judul">
                                        <p>Biaya Pengiriman</p>
                                    </div>
                                </div>
                                <!-- Bagian Output -->
                                <div class="col-md-4">
                                    <div class="isi">
                                        <p>Rp.{{data['ongkir']}}</p><!-- Output Disini -->
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Bagian Input Username Pengirim -->
                            <div class="table-confirm">
                                <!-- Bagian Judul -->
                                <div class="col-md-3 text-center confirm-border">
                                    <div class="judul">
                                        <p>Username Pengirim</p>
                                    </div>
                                </div>
                                <!-- Bagian Form -->
                                <div class="col-md-4">
                                    {{form.username_d(class='form-control',id='username_d')}}
                                </div>
                            </div>

                            <!-- Bagian Input Username Penerima -->
                            <div class="table-confirm">
                                <!-- Bagian Judul -->
                                <div class="col-md-3 text-center confirm-border">
                                    <div class="judul">
                                        <p>Username Penerima</p>
                                    </div>
                                </div>
                                <!-- Bagian Form -->
                                <div class="col-md-4">
                                    {{form.username_r(class='col-md-4 form-control',id = 'username_r')}}
                                </div>
                            </div>

                            <!-- Button Submit -->
                            <div class="col-md-7">
                                {{form.submit(id='submitform',class='button-confirm')}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block script %}
<script>
const no_resi = '{{data["no_resi"]}}'
const page = '{{url_for("confirm_page")}}'
</script>
<script>
    let scriptElement = document.createElement("script");
    scriptElement.type = "text/javascript";
    scriptElement.src = "{{url_for('static',filename='js/confirm.js')}}";
    document.body.appendChild(scriptElement);
</script>
{% endblock %}

