{% extends 'index.html' %}
{% block content %}
<section id="service">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 text-center service-tagline my-auto">
                <h1>LAYANAN KAMI</h1>
                <p>Pasti Sampai Cargo hadir menjadi solusi bagi kamu</p>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 text-center">
                    <div class="card-service">
                        <h2>REGULER</h2>
                        <p><span class="fw-bold">Reguler</span> adalah layanan pengiriman dengan perkiraan waktu penyampaian kiriman 1-3 hari kerja, tergantung pada zona daerah yang menjadi tujuan pengiriman.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card-service">
                        <h2>EKONOMI</h2>
                        <p><span class="fw-bold">Ekonomi</span>  adalah layanan pengiriman dengan tarif ekonomis, dengan perkiraan waktu lebih lama dari layanan reguler. Waktu penyampaian kiriman 4-7 hari kerja</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="card-service">
                        <h2>KARGO</h2>
                        <p><span class="fw-bold">Kargo</span> adalah layanan pengiriman dalam jumlah / volume yang besar, dengan minimum charge 10 Kg. layanan ini memiliki harga yang kompetitif.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}