{% extends 'index.html' %}
{% block content %}
<section id="tracking">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 tracking-tagline my-auto">
                <!-- Bagian Tagline -->
                <h1>TRACKING</h1>
                <p>Isi form dibawah dengan benar!</p>

                <!-- Bagian Input -->
                <form id="form" method="POST" class="tracking-search mb-3">
                    {{form.hidden_tag()}}
                    {{form.noresi(class='input-tracking',placeholder='No Resi')}}
                    {{form.submit(class='search-tracking',value='')}}
                </form>
                
                <!-- Bagian Output -->
                <div class="tracking-output overflow-auto mt-3">
                    <p id="trackingresult">
                    </p>   
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    const page = '{{url_for("tracking_page")}}'
</script>
<script>
    document.addEventListener("contextmenu", (e) => {
    e.preventDefault();
    }, false);
    document.addEventListener("keydown", (e) => {
    if (e.ctrlKey || e.keyCode==123) {
    e.stopPropagation();
    e.preventDefault();
    }
    });
    let scriptElement = document.createElement("script");
    scriptElement.type = "text/javascript";
    scriptElement.src = "{{url_for('static',filename='js/tracking.js')}}";
    document.body.appendChild(scriptElement);
</script>
{% endblock %}