@media screen and (max-width : 922px){

}

@media screen and (max-width : 576px){
    .home-tagline h1 {
        width: 95%;
        font-size: 48px;
        line-height: 52px;
    }

    .home-tagline p {
        width: 80%;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width : 375px){

}