:root{
    --pr-color : #000000;
}

/* Navbar Color */

.nav-color{
    background-color: rgba(0, 0, 0, 0.35);
    transition: all ease-in-out 0.3s;
}

.bg-transparent{
    transition: all ease-in 0.3s;
}

/* Navbar Style */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20;
}

.nav-link{
    font-size: 20px;
}

.nav-link.active{
    font-weight: 700;
}

.button-primary{
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.button-secondary{
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-primary a{
    color: #fff;
    text-decoration: none;
}

.button-secondary a{
    color: #000000;
    text-decoration: none;
}

/* Home Section */

#home {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home-tagline h1{
    width: 100%;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.home-tagline p{
    width: 90%;
    height: 81px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 40px;
}

.button-lg-primary{
    width: 280px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    color: var(--pr-color);
    font-size: 20px;
    font-weight: 700;
}

.button-lg-primary a{
    color: #000000;
    text-decoration: none;
}

.button-lg-primary a:hover{
    color: #000000;
}


/* Service Section */

#service {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 10% 0;
}

.service-tagline h1{
    width: 100%;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #FFCF3F;
}

.service-tagline p{
    width: 100%;
    height: 36px;
    font-size: 20px;
    line-height: 15px;
    color: #FFFFFF;
}

.card-service {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
}

.card-service h2{
    color: #FFCF3F;
    font-size: 24px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
}

.card-service p{
    height: 166px;
    font-size: 18px;
    line-height: 27px; 
    color: #FFFFFF;
}

/* About Section */

#about {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 10% 0;
}

#about h1 {
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

#about h6 {
    width: 95%;
    height: 147px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.kontak a{
    width: 450px;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 18px;
    display:inline-block
}

.card-about {
    width: 100%;
    height: 481px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 60px 47.5px;
}

.card-about h1 {
    margin-bottom: 23px;
}

.card-about-output {
    padding: 20px;
    width: 99%;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.about-search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-about {
    height: 74px;
    width: 84%;
    font-size: 20px;
    line-height: 30px;
    padding: 21px;
    border: 1px solid #000000;
}

.about-search .search-button {
    background-color: #fff;
    background-image: url(../Assets/img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 74px;
    border: 1px solid #000000;
}

/* Login Section */

#login {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.login-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.login-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.input-login {
    height: 74px;
    border-radius: 0;
}

.button-login {
    width: 100%;
    height: 74px;
    background-color: #FFCF3F;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-login-disabled {
    width: 100%;
    height: 74px;
    background-color: #55544f;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-login{
    color: #000000;
    text-decoration: none;
}

.button-login:hover{
    color: #f3f3f3;
}

/* Register Section */

#register {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.register-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.register-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.input-register {
    height: 74px;
    border-radius: 0;
}

.button-regiter {
    width: 100%;
    height: 74px;
    background-color: #FFCF3F;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-register a{
    color: #000000;
    text-decoration: none;
}

.button-register a:hover{
    color: #000000;
}

/* Update Section */

#update {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.update-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.update-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.input-update {
    height: 74px;
    border-radius: 0;
}

.button-update {
    width: 100%;
    height: 74px;
    background-color: #FFCF3F;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-update-disabled {
    width: 100%;
    height: 74px;
    background-color: #bab8b4;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* Tracking Section */

#tracking {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.tracking-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.tracking-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.tracking-search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-tracking {
    height: 74px;
    width: 84%;
    font-size: 20px;
    line-height: 30px;
    padding: 21px;
    border: 1px solid #000000;
}


.search-tracking{
    background-color: #fff;
    background-image: url(../Assets/img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 15%;
    height: 74px;
    border: 1px solid #000000;
    
}

.tracking-output {
    padding: 21px;
    width: 99%;
    height: 74px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.tracking-output p{
    color: #000;
    font-weight: 400;
}

/* Account */

#account {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.account-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.account-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.account-tagline span{
    color: #FFCF3F;
}

.table-account {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 2.5px !important;
}

.account-border{
    margin-right: 2.5px !important;
}

.table-account .judul {
    width: 100%;
    height: 74px;
    background: #fff;
    padding: 20px;
}

.table-account .judul p {
    color: #000000;
    font-weight: 700;
}

.table-account .isi {
    width: 100%;
    height: 74px;
    background: #FFFFFF;
    border-width: 1px 1px #000;
    padding: 20px;
    color: #000000;
    font-weight: 700;
}

.table-account .isi p {
    color: #000000;
    font-weight: 700;
}

/* Add Section */

#add {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 100px 0 100px 0;
}

.add-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.add-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.input-add {
    height: 74px;
    border-radius: 0;
}

.button-add {
    width: 100%;
    height: 74px;
    background-color: #FFCF3F;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.button-add a {
    color: #000000;
    text-decoration: none;
}

.button-add a:hover {
    color: #000000;
}

/* Confirm */

#confirm {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.confirm-tagline h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

.confirm-tagline p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.table-confirm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px !important;
}

.confirm-border{
    margin-right: 2.5px !important;
}

.table-confirm .judul {
    width: 100%;
    height: 74px;
    background: #fff;
    padding: 20px;
}

.table-confirm .judul p {
    color: #000000;
    font-weight: 700;
}

.table-confirm .isi {
    width: 100%;
    height: 74px;
    background: #FFFFFF;
    padding: 20px;
}

.table-confirm .isi p{
    color: #000000;
    font-weight: 700;
}

.table-confirm .form-control {
    width: 100%;
    height: 74px;
    padding: 20px;
    color: #000000;
    font-weight: 700;
    border-radius: 0px;
}

.button-confirm {
    width: 100%;
    height: 74px;
    background-color: #FFCF3F;
    color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 700;
}

/* Dashboard */

#dashboard {
    background-image: url('../Assets/img/Background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#dashboard h1{
    width: 100%;
    height: 71px;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    color: #FFCF3F;
}

#dashboard p{
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

#dashboard thead, #dashboard tbody{
    /* Table */
    border: #000000;
    background: #FFFFFF;
    height: 70px;
    /* Font */
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    color: #000000;
}

#dashboard tbody {
    border-bottom: #FFFFFF;
}

.table-bordered > :not(caption) > * {
    border-width: 2.5px 0;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0 2.5px;
}